<section class="contact py-3" id="contact">
  <div class="container">
    <h2 class="fw-bold text-capitalize mb-3 head">send message to us</h2>
    <form class="form">
      <div class="input-content">
        <label class="input-label name" for="username">Name :</label>
        <input type="text" id="username" />
      </div>
      <div class="input-content">
        <label class="input-label phone" for="phone">Phone :</label>
        <input type="text" id="phone" />
      </div>
      <div class="input-content">
        <label class="input-label email" for="email">E-mail :</label>
        <input type="email" id="email" />
      </div>
      <div class="input-content">
        <textarea id="message" placeholder="Message"></textarea>
      </div>
      <input
        type="submit"
        value="Send"
        class="btn rounded-pill fw-medium main-btn submit"
      />
    </form>
  </div>
</section>
