.works {
  .works-content {
    overflow: hidden;
    /* margin: 0 8rem; */
  }
  .workSwiper {
    padding: 50px 0;
    padding: 0 5rem 0 9rem;
    /* margin-left: auto;
    margin-right: auto; */
    .swiper-wrapper {
      .swiper-slide {
        font-size: 18px;
        background: transparent;
        max-width: 700px;
        width: 100%;
        padding: 20px;
        margin: 10px !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  @media (max-width: 767px) {
    .workSwiper {
      padding: 0 20px;
    }
  }
}

.card {
  background-image: linear-gradient(50deg, #5d4b23 10%, #897c49 80%);
  box-shadow: 5px 5px 8px var(--shadow-color);
  position: relative;
  overflow: hidden;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  @media (max-width: 767px) {
    .card-body {
      p {
        font-size: 13px;
      }
    }
  }
}
.card-overlay {
  position: absolute;
  bottom: -200%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  & a {
    display: flex;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  & a:hover {
    border: 1px solid var(--main-color);
    background-color: transparent;
  }
}
.card:hover {
  box-shadow: 10px 10px 20px var(--shadow-color);
  .card-overlay {
    bottom: 0;
    height: 100%;
  }
}
