<section class="pb-5 position-relative works" id="blog">
  <div class="container">
    <div *ngFor="let work of worksTitles">
      <h2 class="heading text-center text-capitalize text-light my-5 fw-bold">
        {{ _ChangeLangService.isRtl.value ? work.title_ar : work.title }}
      </h2>
      <p class="works-subtitle text-center text-light fw-medium fs-3">
        {{
          _ChangeLangService.isRtl.value
            ? work.description_ar
            : work.description
        }}
      </p>
    </div>

    <div class="works-content pt-5 px-2 px-md-4">
      <swiper-container
        class="works-slider px-md-4"
        autoplay="true"
        speed="1200"
        dir="ltr"
      >
        <swiper-slide *ngFor="let work of works">
          <div class="card rounded-4">
            <img
              *ngIf="loaded"
              loading="lazy"
              [src]="work.img_path"
              class="img-fluid"
              alt="work image"
            />
            <img
              *ngIf="!loaded"
              loading="lazy"
              [src]="imgUrl"
              class="img-fluid"
              alt="work image"
            />

            <div class="card-body text-center text-light pt-4">
              <h5 class="card-title text-capitalize pb-2">
                {{
                  _ChangeLangService.isRtl.value ? work.title_ar : work.title
                }}
              </h5>
            </div>
            <div class="card-overlay">
              <a href="#"><i class="fa-solid fa-link"></i></a>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>

  <div class="dots">
    <img loading="lazy" src="./assets/imgs/dots.png" alt="dots" />
  </div>
</section>
