<section class="videos py-5 position-relative">
  <div class="container">
    <swiper-container
      dir="ltr"
      class="videos-slider"
      navigation="true"
      speed="1500"
    >
      <swiper-slide *ngFor="let video of videos">
        <div class="position-relative vid-card">
          <iframe
            [src]="video.link"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="w-100 video"
          ></iframe>
          <!-- <div [attr.data-videoSrc]="video.link" class="video-overlay">
            <button class="btn play-video">
              <i class="fa-solid fa-play"></i>
            </button>
          </div> -->
        </div>
      </swiper-slide>
      <!-- <swiper-slide *ngFor="let video of videosSlides">
        <div class="position-relative vid-card">
          <img
            loading="lazy"
            class="img-fluid w-100"
            [src]="video.imgSrc"
            alt="video image"
          />
          <div
            [attr.data-videoSrc]="video.videoSrc"
            class="video-overlay"
            (click)="openModal($event)"
          >
            <button class="btn play-video">
              <i class="fa-solid fa-play"></i>
            </button>
          </div>
        </div>
      </swiper-slide> -->
    </swiper-container>
  </div>
  <div class="dots">
    <img loading="lazy" src="./assets/imgs/dots.png" alt="dots image" />
  </div>
</section>

<!-- <app-video-popup
  [videoSrc]="videoSrc"
  *ngIf="_VideoOpenService.openVideo.value"
></app-video-popup> -->
