<section class="landing py-5" id="home">
  <div class="container">
    <h2
      class="heading text-center text-capitalize text-light mb-4 my-3 my-md-4 fw-bold"
    >
      {{ "mainHeader" | translate }}
    </h2>
    <div
      class="landing-content row align-items-center justify-content-evenly justify-content-md-between"
    >
      <div class="col-1 p-0">
        <a href="tel:201020089126" target="_blank" class="phone p-2 p-md-4"
          ><i class="fa-solid fa-phone p-1 p-md-2 border border-2 rounded-5"></i
        ></a>
      </div>

      <div class="col-6" dir="ltr">
        <swiper-container
          autoplay="true"
          autoplay-delay="3000"
          speed="1000"
          autoplay-disable-on-interaction="false"
          space-between="10"
          grab-cursor="true"
        >
          <swiper-slide *ngFor="let slide of homeImagesArr">
            <img
              *ngIf="slide.type === 'img'; else videoBlock"
              class="img-fluid"
              [src]="[slide.path]"
              alt="landing image"
            />
            <ng-template #videoBlock>
              <video [src]="slide.path" class="w-100" controls></video>
            </ng-template>
          </swiper-slide>
        </swiper-container>
      </div>

      <!-- <div class="col-6" dir="ltr">
        <swiper-container
          autoplay="true"
          autoplay-delay="3000"
          autoplay-disable-on-interaction="false"
          space-between="10"
        >
          <swiper-slide *ngFor="let slide of 'landingSlides' | translate">
            <h2
              class="heading text-center text-capitalize text-light my-3 my-md-4 fw-bold"
            >
              {{ slide.heading }}
            </h2>
            <img class="img-fluid" [src]="[slide.imgSrc]" alt="landing image"
          /></swiper-slide>
        </swiper-container>
      </div> -->

      <div class="col-1 p-0">
        <a
          href="http://wa.me/+201020089126"
          target="_blank"
          class="whats p-2 p-md-4"
          ><i class="fa-brands fa-whatsapp"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="dots"><img src="./assets/imgs/dots.png" alt="dots" /></div>
  <div class="dots-lg">
    <img src="./assets/imgs/dotslg.png" alt="dots" />
  </div>
</section>
