<header>
  <div class="container">
    <nav class="page-nav d-flex justify-content-between align-items-center">
      <a class="logo">
        <img class="img-fluid" src="./assets/imgs/logo.png" alt="page-logo" />
      </a>

      <ul
        class="nav-links d-none d-md-flex justify-content-between align-items-center gap-2 gap-lg-4"
      >
        <li>
          <a href="#home">{{ "navLinks.home" | translate }}</a>
        </li>
        <li>
          <a href="#services">{{ "navLinks.ourServices" | translate }} </a>
        </li>
        <li>
          <a href="#blog">{{ "navLinks.blog" | translate }}</a>
        </li>
        <li>
          <a href="#daily">{{ "navLinks.stories" | translate }} </a>
        </li>
        <li>
          <a href="#review">{{ "navLinks.clientsReviews" | translate }} </a>
        </li>
        <li>
          <a href="#contact">{{ "navLinks.contactUs" | translate }} </a>
        </li>
      </ul>
      <ul
        *ngIf="showMenu"
        class="nav-links toggle-menu d-flex flex-column gap-2 d-md-none"
      >
        <li>
          <a href="#home" class="active">{{ "navLinks.home" | translate }}</a>
        </li>
        <li>
          <a href="#services">{{ "navLinks.ourServices" | translate }} </a>
        </li>
        <li>
          <a href="#blog">{{ "navLinks.blog" | translate }}</a>
        </li>
        <li>
          <a href="#daily">{{ "navLinks.stories" | translate }} </a>
        </li>
        <li>
          <a href="#review">{{ "navLinks.clientsReviews" | translate }} </a>
        </li>
        <li>
          <a href="#contact">{{ "navLinks.contactUs" | translate }} </a>
        </li>
      </ul>
      <div class="d-flex align-items-center gap-2">
        <button (click)="toggleMenu()" class="btn menu-toggler d-md-none">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>
  </div>
</header>
