<footer
  class="page-footer py-4 text-capitalize d-flex flex-column justify-content-center align-items-center"
>
  <div class="content text-center">
    <h3 class="fw-normal fs-2 mb-3">{{ "footer.heading" | translate }}</h3>
    <p class="fs-6 my-3">{{ "footer.subtitle" | translate }}</p>
    <div class="icons d-flex justify-content-center align-items-center gap-2">
      <a target="_blank" href="https://www.facebook.com/darshgemy"
        ><i class="fa-brands fa-facebook-f"></i
      ></a>
      <a target="_blank" href="https://www.instagram.com/mustafa.gamal/"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a target="_blank" href="https://www.instagram.com/mustafa.gamal/"
        ><i class="fa-brands fa-tiktok"></i
      ></a>
      <a target="_blank" href="https://twitter.com/gemy7030"
        ><i class="fa-brands fa-twitter"></i
      ></a>
    </div>
  </div>
</footer>
