<footer
  class="page-footer py-4 text-capitalize d-flex flex-column justify-content-center align-items-center"
>
  <div class="content text-center">
    <h3 class="fw-normal fs-2 mb-3">{{ "footer.heading" | translate }}</h3>
    <p class="fs-6 my-3">{{ "footer.subtitle" | translate }}</p>
    <div class="icons d-flex justify-content-center align-items-center gap-2">
      <a target="_blank" *ngFor="let icon of icons" [href]="icon.link">
        <img
          class="img-fluid d-flex align-items-center justify-content-center"
          [src]="icon.img_path | publicUrl"
          alt="footer icon"
        />
      </a>
    </div>
  </div>
</footer>
