<section class="py-5 website">
  <div class="container">
    <div
      class="d-flex flex-column flex-md-row justify-content-between align-items-center"
    >
      <div class="text">
        <h2 class="text-capitalize fw-bold">
          {{ "website.heading" | translate }}
        </h2>
        <p class="fw-bold fs-5 text-capitalize">
          {{ "website.subtitle" | translate }}
        </p>
      </div>
      <a
        href="#"
        target="_blank"
        class="btn main-btn fw-medium text-capitalize"
        >{{ "website.visitBtn" | translate }}</a
      >
    </div>
  </div>
</section>
